html,
body{
    background-color: #fcf2e9;
    padding-left: 7%;
    padding-right: 7%;
    background-image: linear-gradient(to bottom, #fcf2e9 0%, #fcf2e9 100%), linear-gradient(to bottom, rgb(228, 225, 225) 0%, rgba(228, 225, 225) 100%);
    background-clip: content-box, padding-box;
}


.overall {
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#section-1 {
    text-align: center;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 1cm;
}

.pure-u-1-1 {
    padding-top: 1cm;
    padding-bottom: 1cm;
    text-align: center;
}

.pure-g { 
    padding-top: 1cm;
    padding-bottom: 1cm;
}

#pie_chart {
    margin-left: 27%; 
    margin-right: 30%;
}

#dot_plot {
    width: 1%;
    margin-left: 7%;
}


#text_div {
    text-align:justify;
    margin-left: 10%;
    margin-right: 10%;
}


h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}


p {
    font-size: 16px;
}

